In [22]:
#Packages
import math as ma
import numpy as np
import pandas as pd
import operator

In [23]:
#Define the routes

R1=[1,2,3,7]
R2=[1,6,7]
R3=[4,5,7]
Routes=[R1,R2,R3]

In [24]:
pfZ_FOSM=[0.01992417277867474, 0.015493000489565988, 0.028250825674666726, 0.014705955437358123, 0.023655379696662756, 0.022851931654395814, 0.0226904267029535]
R_FOSM=[[],[],[]]
pfR_FOSM=[]

for i in range (3):
    for r in Routes[i]:
        R_FOSM[i].append(pfZ_FOSM[r-1])


for R in R_FOSM:
    accumulation = 1
    for number in R: 
        accumulation *= 1-number
    pfR_FOSM.append(1-accumulation)

print(pfR_FOSM)

[0.08364275214613603, 0.06405094832280656, 0.059841345245489785]

In [25]:
pfZ_FORM=[3.348641976930189e-06, 2.1889894341597937e-09, 7.230836408422814e-05, 2.2685564537994196e-10, 5.680392882734253e-06, 5.0258264511215955e-06, 1.2849330184416807e-05]

R_FORM=[[],[],[]]
pfR_FORM=[]

for i in range (3):
    for r in Routes[i]:
        R_FORM[i].append(pfZ_FORM[r-1])


for R in R_FORM:
    accumulation = 1
    for number in R: 
        accumulation *= 1-number
    pfR_FORM.append(1-accumulation)

print(pfR_FORM)

[8.85073107677048e-05, 2.122367417667359e-05, 1.8529876929296307e-05]

In [26]:
pfZ_MC=[3.56e-06, 0, 8.101e-05, 0, 6.11e-06, 5.55e-06, 1.383e-05]
R_MC=[[],[],[]]
pfR_MC=[]

for i in range (3):
    for r in Routes[i]:
        R_MC[i].append(pfZ_MC[r-1])

for R in R_MC:
    accumulation = 1
    for number in R: 
        accumulation *= 1-number
    pfR_MC.append(1-accumulation)

print(pfR_MC)

[9.839854200532905e-05, 2.2939854251058378e-05, 1.993991549864571e-05]

In [27]:

pfR={
    'FOSM' : pfR_FOSM,
    'FORM' : pfR_FORM,
    'MC'   : pfR_MC
}
pd.DataFrame(pfR, index=['Route 1','Route 2','Route 3'])

             FOSM      FORM        MC
Route 1  0.083643  0.000089  0.000098
Route 2  0.064051  0.000021  0.000023
Route 3  0.059841  0.000019  0.000020

In [28]:
Plane1=20000
park=5000
C0=1200
Plane2=40000
E_plane=[Plane1+park+C0,Plane1+park+C0,Plane1+park+C0]
Outcome1=Plane1+park+C0
Outcome2=C0
Outcome3=Plane2+park+C0
E_R1, E_R2, E_R3=[],[],[]
E_R1=[Outcome2*(1-pfR_FOSM[0])+Outcome3*pfR_FOSM[0],Outcome2*(1-pfR_FORM[0])+Outcome3*pfR_FORM[0],Outcome2*(1-pfR_MC[0])+Outcome3*pfR_MC[0]]
E_R2=[Outcome2*(1-pfR_FOSM[1])+Outcome3*pfR_FOSM[1],Outcome2*(1-pfR_FORM[1])+Outcome3*pfR_FORM[1],Outcome2*(1-pfR_MC[1])+Outcome3*pfR_MC[1]]
E_R3=[Outcome2*(1-pfR_FOSM[2])+Outcome3*pfR_FOSM[2],Outcome2*(1-pfR_FORM[2])+Outcome3*pfR_FORM[2],Outcome2*(1-pfR_MC[2])+Outcome3*pfR_MC[2]]

E={
    'FOSM' : E_R1,
    'FORM' : E_R2,
    'MC'   : E_R3
}
pd.DataFrame(E, index=['Route 1','Route 2','Route 3'])

                FOSM         FORM           MC
Route 1  4963.923847  4082.292675  3892.860536
Route 2  1203.982829  1200.955065  1200.833844
Route 3  1204.427934  1201.032293  1200.897296

In [31]:
Expectation={
    'Plane': E_plane,
    'Route I': E_R1,
    'Route II': E_R2,
    'Route III': E_R3,
}
pd.DataFrame(Expectation, index=['FOSM','FORM', 'MC'])

      Plane      Route I     Route II    Route III
FOSM  26200  4963.923847  4082.292675  3892.860536
FORM  26200  1203.982829  1200.955065  1200.833844
MC    26200  1204.427934  1201.032293  1200.897296